




<div class="col-md-3" *ngFor="let product of products">
    <div class="card">
      <img [src]="product.ProductImage" alt="Product Image" class="card-img-top img-fluid" style="height: 200px; object-fit: contain;">
      <div class="card-body">
        <h5 class="card-title">{{ product.Product}}</h5>
        <p class="card-text">R{{ product.Price }}</p>
        <p class="card-text">{{ product.Description_re }}</p>
        <!--<button (click)="addToCart(product.product_ID)" class="btn btn-primary">Add to Cart</button> -->
      </div>
    </div>
  </div>
