

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <title>HomePage</title>

</head>

<body>
  <header class="header">
    <a href="#" class="logo">Developer</a>
    <nav class="nav-items">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
  </header>
  <main>
    <div class="intro">
      <h1>LuxuryHevicle</h1>
      <p> We are a leading distributor</p>
      <button>Learn More</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading"> Clients</p>
        <p class="work-text"> </p>
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading"> Top Cars </p>
        <p class="work-text"> </p>
      </div>
      <div class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">Brands</p>
        <p class="work-text">  .</p>
      </div>
    </div>
    <div class="about-me">
      <div class="about-me-text">
        <h2>About</h2>
        <p>We are a leading top selling 2jz cars in the industry</p>
      </div>
      <img src="Ecommerce/Frontend/LuxuryVehicles/Components/Images/FullSizeRender-33.jpg" alt="2jz">
    </div>
  </main>
  <footer class="footer">
    <div class="copy">© Sambe Graduate</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>

      </div>
    </div>
  </footer>
</body>


